@{
    ViewBag.Title = "404";
    Layout = Paths.Views.Layout.Main;
}

<div class="headTitle">
    <h1>HATA</h1>
    <div class="breadCrumb"></div>
</div>

<section class="whiteContent">
    <div class="errorPage">
        <img class="icon" src="/assets/images/icon/404.svg" />
        <div class="text">
            <strong>Aradığınız Sayfa Bulunamadı</strong>
            <p>Ana sayfaya dönmek için lütfen tıklayınız.</p>
        </div>
        <a href="/" class="btn gPurple center">Ana Sayfa <img src="/assets/images/icon/btn-arrow-white.svg"></a>
    </div>
</section>
