@Html.Partial(Paths.Views.Partial.SocialLinks)
<footer>
    <div class="content">
        @Html.Partial(Paths.Views.Partial.FooterLinks)
        <div class="text">
            © @Html.Raw(DateTime.Now.Year) - Tüm hakları Mikro Yazılımevi A.Ş.’ ye aittir.
        </div>
    </div>
</footer>
<div class="product-space"></div>

<script src="~/assets/scripts/jquery.min.js"></script>
<script src="~/assets/scripts/jquery.validate.min.js"></script>
<script src="~/assets/scripts/messages_tr.js"></script>
<script src="~/assets/scripts/owl.carousel.min.js"></script>
<script src="~/assets/scripts/lc_switch.min.js"></script>
<script src="~/assets/scripts/select2.js"></script>
<script src='https://www.google.com/recaptcha/api.js'></script>
<script src="~/assets/scripts/jquery.fitvids.js"></script>
<script src="~/assets/scripts/mask/inputmask.js"></script>
<script src="~/assets/scripts/mask/inputmask.extensions.js"></script>
<script src="~/assets/scripts/mask/inputmask.numeric.extensions.js"></script>
<script src="~/assets/scripts/mask/inputmask.date.extensions.js"></script>
<script src="~/assets/scripts/mask/jquery.inputmask.js"></script>
<script src="~/assets/scripts/general.js"></script>
<script src="~/assets/scripts/custom.js"></script>