<h3>Ürün <strong>Talep Formu</strong></h3>
<div class="text">
    Çözüm ortağımız size uygulamalı bir Mikro yazılımları sunumu yapacak. Programlarımızla tanışarak, işletmenizin ihtiyaçlarını en iyi şekilde karşılayacak seri ve modülleri tespit etmenizde size yardımcı olacak.
</div>
<a class="btn white formOpen"><b>Bize Ulaşın</b> <img src="assets/images/icon/btn-arrow-black.svg"></a>
